In [1]:
# Different Variable Declartion
myvar="Hello"
my_var="Hello"
_my_var="Hello"
myvar_="Hello"

In [2]:
print(myvar)
print(my_var)
print(_my_var)
print(myvar_)

Hello
Hello
Hello
Hello

In [3]:
# Data Type
a = 10
b = "Hello"
c = 10.5555
d = 55.555555555555

In [4]:
print(type(a))
print(type(b))
print(type(c))
print(type(d))

<class 'int'>
<class 'str'>
<class 'float'>
<class 'float'>

In [5]:
# Function
def hello():
    a = 10
    print(a)
    return
hello()

10

In [6]:
#Function
a ="Welcome to code unnati 2.0"
def hello():
    a=20
    print(a)
    return
print(a)

Welcome to code unnati 2.0

In [7]:
a =  10 
print(a)
print(type(a))

10
<class 'int'>

In [8]:
b,c,d = 11,12,13
print(a,b,c,d)

10 11 12 13

In [9]:
#Arithmetic Operator
x = 5
y = 4 
print(x + y)

9

In [10]:
#Arithmetic Operator
x = 5
y = 4 
print(x - y)

1

In [11]:
#Arithmetic Operator
x = 5
y = 4 
print(x * y)

20

In [12]:
#Arithmetic Operator
x = 5
y = 4 
print(x / y)

1.25

In [13]:
#Assignment Operator
x = 5
x += 3 
print(x)

8

In [14]:
#Assignment Operator
x = 5
x *= 3 
print(x)

15

In [15]:
#Assignment Operator
x = 5
x -= 3 
print(x)

2

In [16]:
#Assignment Operator
x = 5
x /= 3 
print(x)

1.6666666666666667

In [17]:
#Comparison Operator
x = 5
y = 3
print(x == y)

False

In [18]:
#Comparison Operator
x = 5
y = 5
print(x == y)

True

In [19]:
#Comparison Operator
x = 5
y = 3
print(x != y)

True

In [20]:
#Logical Operator
x = 5 
print(x>3 and x<10)

True

In [21]:
#Logical Operator
x = 5 
print(x>3 or x<10)

True

In [22]:
#Logical Operator
x = 5 
print(not(x>3 and x<10))

False

In [23]:
# Input method
x = int(input("Enter the value of x : "))
y = int(input("Enter the value of y : "))
z= x*y
print(z)

Enter the value of x : 5
Enter the value of y : 6
30

In [24]:
statement = "                     Python is a programming language        "
print(statement)

                     Python is a programming language

In [25]:
#Lower function
statement.lower()

'                     python is a programming language        '

In [26]:
#Upper function
statement.upper()

'                     PYTHON IS A PROGRAMMING LANGUAGE        '

In [27]:
print(type(statement))

<class 'str'>

In [28]:
#First letter should be capital in title
statement.title()

'                     Python Is A Programming Language        '

In [29]:
#Left side space removed
statement.lstrip()

'Python is a programming language        '

In [30]:
#Right side space removed
statement.rstrip()

'                     Python is a programming language'

In [31]:
#both space removed
statement.strip()

'Python is a programming language'

In [32]:
#String Formating------default
string="{} {} {}".format('Python','Programming','Language')
string

'Python Programming Language'

In [33]:
#Positional String Formating-----index
string1="{1} {0} {2}".format('Python','Programming','Language')
print("\nPrint String in order of Positional order:",string1)

Print String in order of Positional order: Programming Python Language

In [34]:
#Positional String Formating -----key wprd
string1="{a} {e} {c}".format(a='Python',e='Programming',c='Language')
print("\nPrint String in order of Positional order:",string1)

Print String in order of Positional order: Python Programming Language

In [35]:
#Positional String Formating ----key word
string1="{e} {a} {c}".format(a='Python',e='Programming',c='Language')
print("\nPrint String in order of Positional order:",string1)

Print String in order of Positional order: Programming Python Language

In [36]:
#Positional String Formating ----key word
string1="{c} {a} {e}".format(a='Python',e='Programming',c='Language')
print("\nPrint String in order of Positional order:",string1)

Print String in order of Positional order: Language Python Programming

In [37]:
# F-string method
name='Priyanka'
course = 'Code Unnati Program 2.0'
print(f"Hello,My name is {name} and I am registrated for {course}")

Hello,My name is Priyanka and I am registrated for Code Unnati Program 2.0

In [38]:
# String Slicing
str1="FACE"

In [39]:
str1[0]

'F'

In [40]:
str1[1]

'A'

In [41]:
str1[2]

'C'

In [42]:
str1[3]

'E'

In [43]:
str1[0:2]

'FA'

In [44]:
str1[::-1]

'ECAF'

In [45]:
str1[-4:-1]

'FAC'

In [46]:
# Not possible
str1[-1:-4]

''

In [47]:
# Not possible
str1[4:0]

''

In [48]:
# Lists

list1 = ["Parul",22,"Bharat",45.5,"Vadodara",99]
print(list1)

['Parul', 22, 'Bharat', 45.5, 'Vadodara', 99]

In [49]:
print(type(list1))

<class 'list'>

In [50]:
print(list1[0:2])

['Parul', 22]

In [51]:
print(list1[0:])

['Parul', 22, 'Bharat', 45.5, 'Vadodara', 99]

In [52]:
list1[0]

'Parul'

In [53]:
list1[1]

22

In [54]:
# Get Value
list1[3]

45.5

In [55]:
# Get Value
list1[5]

99

In [56]:
# Skip index
list1[0:5:2]

['Parul', 'Bharat', 'Vadodara']

In [57]:
# Skip index
list1[::2]

['Parul', 'Bharat', 'Vadodara']

In [58]:
# Add Value in list 
list1 = ["Parul",22,"Bharat",45.5,"Vadodara",99]
list1.append("Surendranagar")
print(list1)

['Parul', 22, 'Bharat', 45.5, 'Vadodara', 99, 'Surendranagar']

In [59]:
fruits=["apple","banana","cherry"]
fruits.append('Orange')
print(fruits)
fruits.append('Mango')
print(fruits)

['apple', 'banana', 'cherry', 'Orange']
['apple', 'banana', 'cherry', 'Orange', 'Mango']

In [60]:
fruits=['apple','banana','cherry']
cars=['Ford','BMW','Volvo']
fruits.extend(cars)
print(fruits)

['apple', 'banana', 'cherry', 'Ford', 'BMW', 'Volvo']

In [12]:
fruits=["apple","banana","cherry"]
fruits.insert(1,"Orange")
print(fruits)

['apple', 'Orange', 'banana', 'cherry']

In [62]:
fruits.pop(1) #banana is removed from index
print(fruits)

['apple', 'banana', 'cherry']

In [63]:
fruits=["apple","banana","cherry"]
fruits.remove("cherry")
print(fruits)

['apple', 'banana']

In [64]:
fruits=["apple","banana","cherry","banana"] # only first banana is removed not all the banana is remove
fruits.remove("banana")
print(fruits)

['apple', 'cherry', 'banana']

In [65]:
cars=['Ford','BMW','Value']  #Sorting 
cars.sort()
print(cars)

['BMW', 'Ford', 'Value']

In [66]:
# Spliting Method

text = input("Enter the word:")

Enter the word:I love Python Programming language

In [67]:
text.split()

['I', 'love', 'Python', 'Programming', 'language']

In [68]:
# Tuples

tup1=("Parul",22,"Bharat",45.5,"Vadodara",99)
print(tup1)
print(type(tup1))

('Parul', 22, 'Bharat', 45.5, 'Vadodara', 99)
<class 'tuple'>

In [69]:
print(tup1[4])

Vadodara

In [70]:
# Contactination by using tuple

tup2=("python",87)
tup3=tup1+tup2
print(tup3)

('Parul', 22, 'Bharat', 45.5, 'Vadodara', 99, 'python', 87)

In [71]:
tup1=["Parul",22,"Bharat",45.5,"Vadodara",99]       # contaction by using list
tup2=["python",87]
tup3=tup1+tup2
print(tup3)

['Parul', 22, 'Bharat', 45.5, 'Vadodara', 99, 'python', 87]

In [72]:
print(tup3*3)  # tuple can multiple

['Parul', 22, 'Bharat', 45.5, 'Vadodara', 99, 'python', 87, 'Parul', 22, 'Bharat', 45.5, 'Vadodara', 99, 'python', 87, 'Parul', 22, 'Bharat', 45.5, 'Vadodara', 99, 'python', 87]

In [73]:
#immutable
del tup3[3]
print(tup3)

['Parul', 22, 'Bharat', 'Vadodara', 99, 'python', 87]

In [74]:

del tup3

In [75]:
# Count Method

numbers = (1,3,7,8,7,5,4,6,8,5)
x = numbers.count(7)
print(x)

2

In [76]:
x= numbers.index(5)
print(x)

5

In [77]:
# Dictionary
cars = {
    "brand":"Mahindra",
    "model":"Thar",
    "year":2010
}

print(cars)
print(type(cars))

{'brand': 'Mahindra', 'model': 'Thar', 'year': 2010}
<class 'dict'>

In [78]:
print(cars["model"])

Thar

In [79]:
print(cars.values())

dict_values(['Mahindra', 'Thar', 2010])

In [80]:
print(cars.keys())

dict_keys(['brand', 'model', 'year'])

In [81]:
print(cars.items())

dict_items([('brand', 'Mahindra'), ('model', 'Thar'), ('year', 2010)])

In [82]:
# Udating Items
cars.update({"year":2012})
print(cars)

{'brand': 'Mahindra', 'model': 'Thar', 'year': 2012}

In [83]:
# Adding Items

cars["color"]="black"    
print(cars)

{'brand': 'Mahindra', 'model': 'Thar', 'year': 2012, 'color': 'black'}

In [84]:
# Removing Items
cars.pop("model")
print(cars)

{'brand': 'Mahindra', 'year': 2012, 'color': 'black'}

In [85]:
# Sets

subjects={'Physics','Hindi','Chemsitry','Maths','Hindi'}
print(subjects)
print(type(subjects))

{'Chemsitry', 'Physics', 'Maths', 'Hindi'}
<class 'set'>

In [86]:
subjects1={'History','Social Science','Biology','Hindi'}
print(subjects1)

{'Hindi', 'Social Science', 'Biology', 'History'}

In [87]:
subjects|subjects1 # Union of two sets pip method

{'Biology',
 'Chemsitry',
 'Hindi',
 'History',
 'Maths',
 'Physics',
 'Social Science'}

In [88]:
subjects.union(subjects1) # Union of two sets union method

{'Biology',
 'Chemsitry',
 'Hindi',
 'History',
 'Maths',
 'Physics',
 'Social Science'}

In [89]:
subjects.intersection(subjects1) # intersection of two sets

{'Hindi'}

In [90]:
# Length Function
fruits=['apple','banana','cherry']
len(fruits)

3

In [91]:
# length of apple
len(fruits[0])

5

In [92]:
theater={
    "Movie":"Pushpa",
    "Actor":"Allu Arjun",
    "year":2021
}
sorted(theater)

['Actor', 'Movie', 'year']

In [93]:
# Max function

numbers = (1,3,7,8,7,5,4,6,8,5)
max(numbers)

8

In [94]:
# Min function
min(numbers)

1

In [95]:
# Sum Function
sum(numbers)

54

In [96]:
# Methods in Lists

dir(list)

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [101]:
# Methods in string
dir(str)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'removeprefix',
 'removesuffix',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [98]:
# Type casting
n = 10 
print(type(n))

n = float(n)
print(type(n))

<class 'int'>
<class 'float'>

In [100]:
n = 10
n = str(n)
print(type(n))
print(n)

<class 'str'>
10

In [1]:
fruits=['apple','banana','cherry']
print(type(fruits))
                                     # Coverted into tuple
fruits = tuple(fruits)
print(type(fruits))

<class 'list'>
<class 'tuple'>