In [1]:
# Version  Check
import pandas as pd
print(pd.__version__)

2.1.4

In [2]:
# Create Series from array

import pandas as pd
import numpy as np

# Creating empty series.
ser = pd.Series()
print(ser)
# Simple array
data = np.array(['g','e','e','k','s'])
ser = pd.Series(data)
print(ser)

Series([], dtype: object)
0    g
1    e
2    e
3    k
4    s
dtype: object

In [3]:
# Creating series from Lists

import pandas as pd
#  a simple list
list = np.array(['g','e','e','k','s'])

ser = pd.Series(list)
print(ser)

0    g
1    e
2    e
3    k
4    s
dtype: object

In [4]:
# there is one differnce betweeen creating array and list
# to create series of array we need to use numpy and pandas array
# to create series of list we need to only use pandas array

In [5]:
# Creating Index
import pandas as pd
data = pd.read_csv("airlines.csv")
print(data.describe())

        Time.Month    Time.Year  Statistics.# of Delays.Carrier  \
count  4408.000000  4408.000000                     4408.000000
mean      6.578947  2009.243421                      574.632486
std       3.457890     3.667475                      329.616475
min       1.000000  2003.000000                      112.000000
25%       4.000000  2006.000000                      358.000000
50%       7.000000  2009.000000                      476.000000
75%      10.000000  2012.000000                      692.000000
max      12.000000  2016.000000                     3087.000000

       Statistics.# of Delays.Late Aircraft  \
count                           4408.000000
mean                             789.078947
std                              561.798420
min                               86.000000
25%                              425.000000
50%                              618.500000
75%                              959.000000
max                             4483.000000

       Statistics.# of Delays.National Aviation System  \
count                                      4408.000000
mean                                        954.580309
std                                         921.907801
min                                          61.000000
25%                                         399.000000
50%                                         667.500000
75%                                        1166.000000
max                                        9066.000000

       Statistics.# of Delays.Security  Statistics.# of Delays.Weather  \
count                      4408.000000                     4408.000000
mean                          5.575544                       78.216878
std                           6.007046                       75.181726
min                          -1.000000                        1.000000
25%                           2.000000                       33.000000
50%                           4.000000                       58.000000
75%                           7.000000                       98.000000
max                          94.000000                      812.000000

       Statistics.Carriers.Total  Statistics.Flights.Cancelled  \
count                4408.000000                   4408.000000
mean                   12.253403                    213.558076
std                     2.289861                    288.873477
min                     3.000000                      3.000000
25%                    11.000000                     58.000000
50%                    12.000000                    123.000000
75%                    14.000000                    250.000000
max                    18.000000                   3680.000000

       Statistics.Flights.Delayed  Statistics.Flights.Diverted  \
count                 4408.000000                  4408.000000
mean                  2402.000454                    27.880898
std                   1710.947613                    36.356399
min                    283.000000                     0.000000
25%                   1298.750000                     8.000000
50%                   1899.000000                    15.000000
75%                   2950.000000                    32.000000
max                  13699.000000                   442.000000

       Statistics.Flights.On Time  Statistics.Flights.Total  \
count                 4408.000000               4408.000000
mean                  9254.420826              11897.860254
std                   5337.214211               6861.691876
min                   2003.000000               2533.000000
25%                   5708.750000               7400.000000
50%                   7477.000000               9739.500000
75%                  10991.500000              13842.500000
max                  31468.000000              38241.000000

       Statistics.Minutes Delayed.Carrier  \
count                         4408.000000
mean                         35021.369782
std                          24327.721037
min                           6016.000000
25%                          19530.750000
50%                          27782.000000
75%                          41606.000000
max                         220796.000000

       Statistics.Minutes Delayed.Late Aircraft  \
count                               4408.000000
mean                               49410.274955
std                                38750.017050
min                                 5121.000000
25%                                25084.250000
50%                                37483.000000
75%                                59951.250000
max                               345456.000000

       Statistics.Minutes Delayed.National Aviation System  \
count                                        4408.000000
mean                                        45077.107985
std                                         57636.745683
min                                          2183.000000
25%                                         14389.000000
50%                                         25762.000000
75%                                         50362.000000
max                                        602479.000000

       Statistics.Minutes Delayed.Security  Statistics.Minutes Delayed.Total  \
count                          4408.000000                       4408.000000
mean                            211.769737                     135997.535163
std                             257.174789                     113972.276370
min                               0.000000                      14752.000000
25%                              65.000000                      65444.750000
50%                             141.000000                     100711.000000
75%                             274.000000                     164294.750000
max                            4949.000000                     989367.000000

       Statistics.Minutes Delayed.Weather
count                         4408.000000
mean                          6276.982759
std                           6477.417169
min                             46.000000
25%                           2310.750000
50%                           4298.500000
75%                           7846.000000
max                          76770.000000

In [6]:
# import pandas as pd import pandas as pd
# lists of strings
import pandas as pd
lst=['Geeks','For','Geeks','is','portal','for','Geeks']
df = pd.DataFrame(lst)
print(df)

        0
0   Geeks
1     For
2   Geeks
3      is
4  portal
5     for
6   Geeks

In [13]:
import pandas as pd
data = {'Name':['Tom' , 'nick' , 'krish' , 'jack'],'Age':[20,21,19,18]}
#create Dataframe
df = pd.DataFrame(data)
print(df)

    Name  Age
0    Tom   20
1   nick   21
2  krish   19
3   jack   18

In [14]:
# RE-indexing = to create a new index
# in other words = used to change the row labels and column labels of a DataFrame.
info = pd.DataFrame({'P':[4,7,1,8,9],
                    'Q':[6,8,10,15,11],
                    'R':[17,13,12,16,14],
                    'S':[15,19,7,21,9]},
                   index = ['Parker' , 'William' , 'Smith' , 'Terry' , 'Phill'])
print(info)

         P   Q   R   S
Parker   4   6  17  15
William  7   8  13  19
Smith    1  10  12   7
Terry    8  15  16  21
Phill    9  11  14   9

In [15]:
#reindexing with new index
abc = info.reindex(["A","B","C","D","E"])
print(abc)

    P   Q   R   S
A NaN NaN NaN NaN
B NaN NaN NaN NaN
C NaN NaN NaN NaN
D NaN NaN NaN NaN
E NaN NaN NaN NaN

In [16]:
#reindexing with new index
abcd = info.reindex(["A","B","C","D","E"],fill_value=100)
print(abcd)

     P    Q    R    S
A  100  100  100  100
B  100  100  100  100
C  100  100  100  100
D  100  100  100  100
E  100  100  100  100

In [12]:
# Unsorted dataframe into sorted dataframe
import pandas as pd
import numpy as np
unsorted_df = pd.DataFrame(np.random.randn (10,2),index= [1,4,6,2,3,5,9,8,8,7],columns=['col2','col1'])
print(unsorted_df)
sorted_df = unsorted_df.sort_index()
print(sorted_df)

       col2      col1
1 -0.364088 -1.959130
4 -0.225631 -0.819571
6  1.224369 -1.108206
2 -0.110658  0.635328
3 -2.013675 -0.435935
5 -0.668795 -0.768631
9  1.722978 -1.278674
8  0.033996 -0.671585
8 -1.091852  0.431294
7  0.276418 -0.464105
       col2      col1
1 -0.364088 -1.959130
2 -0.110658  0.635328
3 -2.013675 -0.435935
4 -0.225631 -0.819571
5 -0.668795 -0.768631
6  1.224369 -1.108206
7  0.276418 -0.464105
8  0.033996 -0.671585
8 -1.091852  0.431294
9  1.722978 -1.278674

In [18]:
# Ascending dataframe
#reindexing with new index
import pandas as pd
import numpy as np
unsorted_df = pd.DataFrame(np.random.randn (10,2),index= [1,4,6,2,3,5,9,8,8,7],columns=['col2','col1'])
print(unsorted_df)
sorted_df = unsorted_df.sort_index(ascending=False)
print(sorted_df)

       col2      col1
1 -0.265729 -0.479576
4 -0.035912  0.214540
6  0.153857 -0.711346
2  0.593264  0.299866
3 -0.277945 -1.957706
5 -1.391068  3.157908
9 -0.411038 -3.084335
8  1.521129 -0.098105
8 -0.475893 -0.946852
7 -0.421424  0.514497
       col2      col1
9 -0.411038 -3.084335
8  1.521129 -0.098105
8 -0.475893 -0.946852
7 -0.421424  0.514497
6  0.153857 -0.711346
5 -1.391068  3.157908
4 -0.035912  0.214540
3 -0.277945 -1.957706
2  0.593264  0.299866
1 -0.265729 -0.479576

In [19]:
# axis = 0 => row
# axis = 1 => columns


import pandas as pd
import numpy as np
unsorted_df = pd.DataFrame(np.random.randn (10,2),index= [1,4,6,2,3,5,9,8,8,7],columns=['col2','col1'])
print(unsorted_df)
sorted_df = unsorted_df.sort_index(axis = 1)
print(sorted_df)

       col2      col1
1 -1.359989  0.409888
4 -1.282703  0.178720
6  0.467339  0.725037
2  0.277188 -1.119438
3 -1.860754  1.953088
5  0.097423 -0.539337
9  0.294516  0.670353
8  0.034812 -0.055340
8  0.091404 -0.988544
7 -0.339063  0.805728
       col1      col2
1  0.409888 -1.359989
4  0.178720 -1.282703
6  0.725037  0.467339
2 -1.119438  0.277188
3  1.953088 -1.860754
5 -0.539337  0.097423
9  0.670353  0.294516
8 -0.055340  0.034812
8 -0.988544  0.091404
7  0.805728 -0.339063

In [20]:
import pandas as pd
import numpy as np
unsorted_df = pd.DataFrame(np.random.randn (10,2),index= [1,4,6,2,3,5,9,8,8,7],columns=['col2','col1'])
print(unsorted_df)
sorted_df = unsorted_df.sort_index(axis = 0)
print(sorted_df)

       col2      col1
1 -0.093956  0.188860
4 -0.671522 -0.111966
6  0.031934  0.773472
2 -1.583295  1.261267
3  1.456552 -1.483523
5 -0.234965  0.404978
9  0.056185  1.004531
8 -1.889478 -1.025108
8  1.368396  0.833833
7  0.234479 -1.039242
       col2      col1
1 -0.093956  0.188860
2 -1.583295  1.261267
3  1.456552 -1.483523
4 -0.671522 -0.111966
5 -0.234965  0.404978
6  0.031934  0.773472
7  0.234479 -1.039242
8 -1.889478 -1.025108
8  1.368396  0.833833
9  0.056185  1.004531

In [23]:
# Sort by values

import pandas as pd
import numpy as np
unsorted_df  = pd.DataFrame({'col1':[2,1,1,1], 'col2':[1,3,2,4]})
print(unsorted_df)
sorted_df = unsorted_df.sort_values (by='col1')
print(sorted_df)

   col1  col2
0     2     1
1     1     3
2     1     2
3     1     4
   col1  col2
1     1     3
2     1     2
3     1     4
0     2     1

In [24]:
s = pd.Series(['Tom','William Wick','John','Albert',np.nan,'1234','SteveSmith'])
print(s.str.lower())

0             tom
1    william wick
2            john
3          albert
4             NaN
5            1234
6      stevesmith
dtype: object

In [25]:
s = pd.Series(['Tom','William Wick','John','Albert',np.nan,'1234','SteveSmith'])
print(s.str.upper())

0             TOM
1    WILLIAM WICK
2            JOHN
3          ALBERT
4             NaN
5            1234
6      STEVESMITH
dtype: object

In [27]:
s = pd.Series(['Tom','William Wick','John','Albert',np.nan,'1234','SteveSmith'])
print(s.str.islower())

0    False
1    False
2    False
3    False
4      NaN
5    False
6    False
dtype: object

In [29]:
s = pd.Series(['TOM','William Wick','John','Albert',np.nan,'1234','SteveSmith'])
print(s.str.isupper())

0     True
1    False
2    False
3    False
4      NaN
5    False
6    False
dtype: object

In [31]:
# Sum

data ={
'Maths' :[90, 85, 98, 80, 55, 78],
'Science': [92, 87, 59, 64, 87, 96],
'English':[95,94,84,85,86,82],
}
# DataFrame
df = pd.DataFrame(data)
# Display the DataFrame
print("DataFrame = \n",df)
# Display the Sum of Marks in each column
print("InSum = \n",df.sum())

DataFrame =
    Maths  Science  English
0     90       92       95
1     85       87       94
2     98       59       84
3     80       64       85
4     55       87       86
5     78       96       82
InSum =
 Maths      486
Science    485
English    526
dtype: int64

In [34]:
# Count non none values
data ={
'Maths' :[90, 85, 98, None, 55, 78],
'Science': [None, 87, None, 64, 87, 96],
'English':[95,94,84,85,86,None],
}
# DataFrame
df = pd.DataFrame(data)
# Display the DataFrame
print("DataFrame = \n",df)
# Display the Sum of Marks in each column
print("InSum = \n",df.count())

DataFrame =
    Maths  Science  English
0   90.0      NaN     95.0
1   85.0     87.0     94.0
2   98.0      NaN     84.0
3    NaN     64.0     85.0
4   55.0     87.0     86.0
5   78.0     96.0      NaN
InSum =
 Maths      5
Science    4
English    5
dtype: int64

In [33]:
# Max Value

data ={
'Maths' :[90, 85, 98, 80, 55, 78],
'Science': [92, 87, 59, 64, 87, 96],
'English':[95,94,84,85,86,82],
}
# DataFrame
df = pd.DataFrame(data)
# Display the DataFrame
print("DataFrame = \n",df)
# Display the Sum of Marks in each column
print("InSum = \n",df.max())

DataFrame =
    Maths  Science  English
0     90       92       95
1     85       87       94
2     98       59       84
3     80       64       85
4     55       87       86
5     78       96       82
InSum =
 Maths      98
Science    96
English    95
dtype: int64

In [35]:
# Mean value

data ={
'Maths' :[90, 85, 98, 80, 55, 78],
'Science': [92, 87, 59, 64, 87, 96],
'English':[95,94,84,85,86,82],
}
# DataFrame
df = pd.DataFrame(data)
# Display the DataFrame
print("DataFrame = \n",df)
# Display the Sum of Marks in each column
print("InSum = \n",df.mean())

DataFrame =
    Maths  Science  English
0     90       92       95
1     85       87       94
2     98       59       84
3     80       64       85
4     55       87       86
5     78       96       82
InSum =
 Maths      81.000000
Science    80.833333
English    87.666667
dtype: float64

In [36]:
# Median value

data ={
'Maths' :[90, 85, 98, 80, 55, 78],
'Science': [92, 87, 59, 64, 87, 96],
'English':[95,94,84,85,86,82],
}
# DataFrame
df = pd.DataFrame(data)
# Display the DataFrame
print("DataFrame = \n",df)
# Display the Sum of Marks in each column
print("InSum = \n",df.median())

DataFrame =
    Maths  Science  English
0     90       92       95
1     85       87       94
2     98       59       84
3     80       64       85
4     55       87       86
5     78       96       82
InSum =
 Maths      82.5
Science    87.0
English    85.5
dtype: float64

In [39]:
import pandas as pd
data = pd.read_csv("nba.csv",index_col = "Name")
first = data["Age"]
print(first)

Name
Avery Bradley    25.0
Jae Crowder      25.0
John Holland     27.0
R.J. Hunter      22.0
Jonas Jerebko    29.0
                 ...
Shelvin Mack     26.0
Raul Neto        24.0
Tibor Pleiss     26.0
Jeff Withey      26.0
NaN               NaN
Name: Age, Length: 458, dtype: float64

In [43]:
#making data frame from csv file
data = pd.read_csv("nba.csv",index_col="Name")

#retrieving row by loc method
first = data.loc["Avery Bradley"]
second = data.loc["R.J. Hunter"]
print(first,"\n\n",second)

Team        Boston Celtics
Number                 0.0
Position                PG
Age                   25.0
Height                 6-2
Weight               180.0
College              Texas
Salary           7730337.0
Name: Avery Bradley, dtype: object

 Team        Boston Celtics
Number                28.0
Position                SG
Age                   22.0
Height                 6-5
Weight               185.0
College      Georgia State
Salary           1148640.0
Name: R.J. Hunter, dtype: object

In [46]:
#making data frame from csv file
data = pd.read_csv("nba.csv",index_col="Name")
#retrieving rows by iloc method
row2 = data.iloc[3]
print(row2)
#iloc is used to access the data with specific location

Team        Boston Celtics
Number                28.0
Position                SG
Age                   22.0
Height                 6-5
Weight               185.0
College      Georgia State
Salary           1148640.0
Name: R.J. Hunter, dtype: object